@media (min-width: 1200px) {
	.decoration-about {
		width: 100%;
	}

	.question-accord {
		max-width: 740px;
	}

	.cooperation .content-box .cooperation-decoration {
		max-width: 335px;
		margin-left: auto;
		margin-right: auto;
	}

	.cooperation .btn-coop {
		margin-left: auto;
		margin-right: auto;
	}

	.decoration-about {
		width: 100%;
	}
}
