@media screen and (max-width: 991px) {
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}

	.container-xxl {
		padding: 0;
	}

	section.container-fluid {
		padding: 55px 20px 60px;
		&:before {
			border-radius: 0;
			left: 0;
			right: 0;
		}
	}

	a.navbar-brand {
		width: 126px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	header {
		.navbar {
			padding-top: 15px;
			padding-bottom: 17px;
		}

		.btn {
			padding: 23px 85px;
		}
	}

	.nav-link {
		font-size: 24px;
		line-height: 222%;
		padding: 0;
		margin-bottom: 10px;
	}

	.navbar-nav {
		padding: 49px 0 26px;
	}

	.template-title {
		margin-bottom: 36px;

		h2 {
			font-size: 24px;
		}

		h3 {
			font-size: 16px;
		}

		&.col-lg-7 {
			margin-bottom: 56px;

			h2 {
				font-size: 24px;

				&:after {
					display: none;
				}
			}
		}
	}

	.first-screen {
		margin-bottom: 56px;
	}

	.first-screen-slider {
		.slick-slide {
			display: flex;
			height: calc(100vh - 72px);
			align-items: center;
			background-position: center;

			&:before {
				content: "";
				position: absolute;
				z-index: 1;
				background: linear-gradient(
					180deg,
					rgb(0 0 0 / 1%) 6%,
					rgb(18 18 18 / 8%) 63%
				);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		.container {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			z-index: 2;
		}
	}

	.first-screen-title {
		font-size: 32px;
		margin-bottom: 11px;
		max-width: 285px;
	}

	.first-screen-subtitle {
		font-size: 16px;
		margin-bottom: 18px;
		max-width: 275px;
	}

	.calculation-form {
		padding: 49px 15px 13px;
		.input-box.has-checkbox {
			margin-bottom: 7px;
			padding-top: 4px;
		}

		label[for="fileInput"] {
			margin-top: 31px;
		}

		.btn {
			max-width: 100%;
			width: 100%;
			padding: 19.6px 15px 19.6px 29px;
			.icon {
				margin: 0 -14px 0 70px;
			}
		}
	}

	.calculation__img {
		display: none;
	}

	#file-name {
		top: 0;
	}
	.template-slider {
		max-width: 360px;
		.slick-list {
			margin: 0 -15px 32px;
		}
	}

	.card-button-row {
		.btn {
			width: 138px;
			justify-content: center;
			padding: 13px 5px;
		}
	}
}
.about-company {
	padding: 54px 0 54px;
	.desqription {
		padding-left: 12px;
		padding-right: 12px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.container {
		.template-title {
			text-align: center;
		}
		p {
			text-align: justify;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 149%;
			span {
				font-weight: 400;
			}
		}
		.img-box {
			margin-top: 25px;

			img {
				width: 275px;
				height: auto;
				margin: 0 auto;
				display: block;
			}
		}
	}

	.question .container .question-position {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.question .container .accordion-questions {
		width: auto;
	}

	.accordion-questions {
		margin-left: auto;
		margin-right: auto;
	}

	.question .container .template-title h2 {
		font-size: 24px;
	}
	.questions-col-form {
		max-width: 414px;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	.cooperation {
		padding-top: 54px;
		padding-bottom: 60px;
		text-align: justify;

		.template-title {
			h2 {
				font-size: 24px;
				font-weight: 700;
				line-height: 124.5%;
				/* 29.88px */
			}

			h4 {
				font-size: 16px;
				font-weight: 400;
				line-height: 124.5%;
				/* 29.88px */
			}
		}
	}

	.content-box {
		display: flex;
		flex-direction: column;

		ul {
			order: 2;
		}

		img {
			max-width: 335px;
			order: 1;
			height: auto;
		}

		button {
			order: 3;
		}
	}

	.information-column {
		margin: 0 auto;
		max-width: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.column-link-wrapper {
		display: none;
	}

	.cooperation-decoration {
		width: 335px;
		height: 220px;
	}
	.about-company {
		padding-top: 54px;
		padding-bottom: 60px;
	}
}
