@media screen and (max-width: 991px) {
	.container-xxl {
		padding: 0;
	}
	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
	a.navbar-brand {
		width: 126px;
	}
	a.navbar-brand img {
		max-width: 100%;
		height: auto;
		padding-bottom: 18px;
		padding-top: 3px;
	}
	header .navbar {
		padding-top: 15px;
		padding-bottom: 0;
	}
	header .btn {
		padding: 23px 85px;
		display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}
	.navbar-collapse {
		background: #363a4d;
		box-shadow: 14px 22px 40px 0px rgba(30, 35, 66, 0.28);
		margin-left: -20px;
		margin-right: -20px;
	}
	.nav-link {
		font-size: 24px;
		line-height: 212%;
		padding: 0;
		margin-bottom: 10px;
		text-align: center;
		font-weight: 400;
	}
	.navbar-nav {
		padding: 37px 0 22px;
	}
	.first-screen-slider .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		z-index: 2;
	}
	.first-screen-slider .container .mb-first-screen {
		margin-bottom: 72px;
	}
	.first-screen-slider .slick-slide {
		height: calc(100vh - 72px);
		display: flex;
		align-items: center;
		background-position: center;
	}
	.first-screen-slider .slick-slide::before {
		content: "";
		position: absolute;
		z-index: 1;
		background: rgba(0, 0, 0, 0.0549019608);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.first-screen-slider .first-screen-title {
		font-size: 32px;
		margin-bottom: 10px;
	}
	.first-screen-slider .first-screen-subtitle {
		font-size: 16px;
		margin-bottom: 18px;
	}
	.container .calc-form {
		margin-left: auto;
		margin-right: auto;
	}
	.calc-decoration {
		display: none;
	}
	.calc-form {
		width: 335px;
		height: auto;
		padding: 50px 30px 30px 30px;
	}
	.btn-lg {
		padding: 19.4px 34px;
		font-size: 16px;
		width: 100%;
	}
	.template-title.col-lg-7 h2 {
		font-size: 24px;
		line-height: 124.5%;
		text-transform: uppercase;
		margin-bottom: 6px;
		text-align: center;
	}
	.template-title.col-lg-7 h2:after {
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}
