@media (min-width: 992px) {
	.first-screen-slider {
		.slick-slide {
			padding: 0 92px;
			border-radius: 20px;
		}

		.container {
			padding-top: 164px;
			padding-bottom: 228px;
		}
	}

	.template-title {
		&.col-lg-7 {
			text-align: left;
			&:after {
				display: none;
			}
		}
	}

	.input-row {
		display: flex;
	}

	.advantages {
		.row {
			margin-bottom: -48px;
		}
	}

	.about-company {
		padding: 150px 0 54px;
	}

	.question-accord {
		max-width: 545px;
	}

	.questions-col-form {
		max-width: 414px;
	}
}
