<section class="about-company">
	<div class="container">
		<div class="template-title">
			<h2>О компании</h2>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="desqription">
					<p>
						Компания Азия Карго - это полный комплекс логистических услуг по
						доставке грузов из Китая в Украину - сборные грузы и цельные
						товарные партии, услуги посредника ТаоБао, КАРГО Китай -
						<span>Украину</span>. Для вашего удобства есть тарифы на лёгкий и
						тяжелый куб. Мы работаем на рынке более 4 лет, а руководители
						компании занимаются логистикой уже более 11 лет.
					</p>
					<p>
						Мы стремимся предоставить лучшие условия доставки и лучший сервис
						своим клиентам. Выбирая нас - вы выбираете качественную доставку
						оптимальную по цене и времени! Убедитесь в этом сами!
					</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="img-box">
					<img
						class="decoration-about"
						src="assets/img/about.png"
						alt="decoration"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
