<section class="cooperation section-background">
	<div class="container">
		<div class="template-title">
			<h2>Готовы к сотрудничеству?</h2>
			<h4 class="template-subtitle">Зарегистрируйте груз!</h4>
		</div>
		<div class="description-content row">
			<div class="col-lg-6 content-box content-box-1">
				<ul>
					<li>
						Для того, чтобы начать сотрудничество, необходимо оформить груз
						указав информацию осодержимом груза, его стоимость и количество. А
						так-же прикрепив фотографии к заявке.
					</li>
					<li>
						Если требуется проверка товара на соответсвие количеству, то при
						оформлении груза на нашем сайте укажите это в графе "Примечание".
						Данная услуга платная и составляет 3 юаня за одну позицию в заказе.
						Любые дополнительные проверки груза обсуждаются индивидуально в том
						числе и их стоимость.
					</li>
					<li>
						До отправки груза на наш склад в Китае обязательно позаботьтесь о
						том, чтобы сделать маркировку, с номером Вашего заказа у нас на
						сайте, для каждой внешней коробки, чтобы мы смогли определить именно
						Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то
						попросите об этом своего поставщика.
					</li>
				</ul>
				<img
					class="cooperation-decoration"
					src="/assets/img/cooperation-decoration-1.png"
					alt="cooperation-decoration"
				/>
			</div>
			<div class="col-lg-6 content-box content-box-2">
				<img
					class="cooperation-decoration"
					src="/assets/img/cooperation-decoration-2.png"
					alt="cooperation-decoration"
				/>
				<ul>
					<li>
						После отправки груза на наш склад в Китае, Вам обязательно нужно
						указать трек-номер для отслеживания посылок по Китаю длякаждой
						позиции в заказе. Внести трек-номер можно на странице заказа.
						Трек-номер - это ещё одна мера для идентификации Вашего груза на
						нашем складе.
					</li>
					<li>
						Если Вы оформили груз по нашей инструкции исделали все правильно, то
						при получении Вашего груза на складе в Китае статусзаказа изменится
						на "На складе".
					</li>
				</ul>
				<button type="button" class="btn btn-primary btn-lg btn-coop">
					Оформить груз<img
						src="assets/img/icon-btn-arrow.svg"
						class="icon"
						alt="icon"
					/>
				</button>
			</div>
		</div>
	</div>
</section>
