<section class="delivery">
	<div class="container">
		<div class="template-title">
			<h2>Варианты доставки грузов из Китая</h2>
		</div>
		<div class="template-slider">
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-2.png"
							class="img-fluid"
							alt="delivery-case"
						/>
					</div>
					<h4 class="card-title">Авто - обычная</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/icon-calendar.svg" alt="" /> 9-15 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/icon-box.svg" alt="" /> от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><b>2,5</b><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button type="button" class="btn btn-primary">
							Оставить заявку
						</button>
						<button type="button" class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-2.png"
							class="img-fluid"
							alt="delivery-case"
						/>
					</div>
					<h4 class="card-title">Авто - ускоренная</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/icon-calendar.svg" alt="" /> 7-25 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/icon-box.svg" alt="" /> от 50 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><b>12,5</b><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button type="button" class="btn btn-primary">
							Оставить заявку
						</button>
						<button type="button" class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-3.png"
							class="img-fluid"
							alt="delivery-case"
						/>
					</div>
					<h4 class="card-title">Авио</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/icon-calendar.svg" alt="" /> 5-12 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/icon-box.svg" alt="" /> от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><b>22,5</b><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button type="button" class="btn btn-primary">
							Оставить заявку
						</button>
						<button type="button" class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-4.png"
							class="img-fluid"
							alt="delivery-case"
						/>
					</div>
					<h4 class="card-title">ЖД</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/icon-calendar.svg" alt="" /> 9-18 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/icon-box.svg" alt="" /> от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><b>1,5</b><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button type="button" class="btn btn-primary">
							Оставить заявку
						</button>
						<button type="button" class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
			<div>
				<div class="card">
					<div class="card-img">
						<img
							src="assets/img/delivery-1.png"
							class="img-fluid"
							alt="delivery-case"
						/>
					</div>
					<h4 class="card-title">Море</h4>
					<div class="card-option">
						<div class="card-attr">
							<div class="card-attr-item">
								<img src="assets/img/icon-calendar.svg" alt="" /> 12-30 дней
							</div>
							<div class="card-attr-item">
								<img src="assets/img/icon-box.svg" alt="" /> от 5 кг
							</div>
						</div>
						<div class="card-price">
							<span>от</span><b>1,5</b><span>$/кг</span>
						</div>
					</div>
					<div class="card-button-row">
						<button type="button" class="btn btn-primary">
							Оставить заявку
						</button>
						<button type="button" class="btn btn-secondary">Подробнее</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
