<section class="first-screen">
	<div class="container-xxl">
		<div class="first-screen-slider">
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-1.png)"
			>
				<div class="container">
					<div class="first-screen-title">Прямое КАРГО из Китая</div>
					<div class="first-screen-subtitle">
						Доставляем любые грузы из Китая по честной цене
					</div>
					<button type="button" class="btn btn-primary btn-lg">
						Рассчитать стоимость<img
							src="./assets/img/icon-btn-arrow.svg"
							class="icon"
							alt="icon"
						/>
					</button>
				</div>
			</div>
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-2.png)"
			>
				<div class="container">
					<h2 class="first-screen-title">Выкуп товара с ТаоБао, 1688</h2>
					<h3 class="first-screen-subtitle">
						Выкуп и доставка товаров с китайских торговых площадок.
					</h3>
					<button class="btn btn-primary btn-lg">
						Рассчитать стоимость
						<img
							src="./assets/img/icon-btn-arrow.svg"
							class="icon"
							alt="arrow"
						/>
					</button>
				</div>
			</div>
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-3.png)"
			>
				<div class="container">
					<h2 class="first-screen-title mb-first-screen">
						Экспресс авто доставка
					</h2>
					<button class="btn btn-primary btn-lg">
						Рассчитать стоимость
						<img
							src="./assets/img/icon-btn-arrow.svg"
							class="icon"
							alt="arrow"
						/>
					</button>
				</div>
			</div>
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-4.png)"
			>
				<div class="container">
					<h2 class="first-screen-title mb-first-screen">
						Полное сопровождение
					</h2>
					<button class="btn btn-primary btn-lg">
						Рассчитать стоимость
						<img src="assets/img/icon-btn-arrow.svg" class="icon" alt="arrow" />
					</button>
				</div>
			</div>
		</div>
		<div class="first-screen-nav"></div>
	</div>
</section>
