<section class="first-screen">
	<div class="container-xxl">
		<div class="first-screen-slider">
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-1.png)"
			>
				<div class="container">
					<div class="first-screen-title">Прямое КАРГО из Китая</div>
					<div class="first-screen-subtitle">
						Доставляем любые грузы из Китая по честной цене
					</div>
					<button type="button" class="btn btn-primary btn-lg">
						Рассчитать стоимость<img
							src="./assets/img/icon-btn-arrow.svg"
							class="icon"
							alt="icon"
						/>
					</button>
				</div>
			</div>
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-2.png)"
			>
				<div class="container">
					<h2 class="first-screen-title">Выкуп товара с ТаоБао, 1688</h2>
					<h3 class="first-screen-subtitle">
						Выкуп и доставка товаров с китайских торговых площадок.
					</h3>
					<button class="btn btn-primary btn-lg">
						Рассчитать стоимость
						<img
							src="./assets/img/icon-btn-arrow.svg"
							class="icon"
							alt="arrow"
						/>
					</button>
				</div>
			</div>
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-3.png)"
			>
				<div class="container">
					<h2 class="first-screen-title mb-first-screen">
						Экспресс авто доставка
					</h2>
					<button class="btn btn-primary btn-lg">
						Рассчитать стоимость
						<img
							src="./assets/img/icon-btn-arrow.svg"
							class="icon"
							alt="arrow"
						/>
					</button>
				</div>
			</div>
			<div
				class="slick-slide"
				style="background-image: url(./assets/img/first-screen-4.png)"
			>
				<div class="container">
					<h2 class="first-screen-title mb-first-screen">
						Полное сопровождение
					</h2>
					<button class="btn btn-primary btn-lg">
						Рассчитать стоимость
						<img src="assets/img/icon-btn-arrow.svg" class="icon" alt="arrow" />
					</button>
				</div>
			</div>
		</div>
		<div class="first-screen-nav"></div>
	</div>
</section>

<section class="calc">
	<div class="container">
		<div class="template-title col-lg-7">
			<h2>Получить рассчет стоимости доставки вашего груза</h2>
		</div>
		<div class="calc-row">
			<form class="calc-form">
				<div class="row postion">
					<div class="col-lg-6">
						<div class="input-box">
							<label class="title" for="product-category"
								>Категория товара:</label
							>
							<input
								type="text"
								id="product-category"
								name="product-category"
								placeholder="Категория товара"
							/>
						</div>
						<div class="input-box">
							<label class="title" for="product-weight">Вес груза (кг):</label>
							<input
								type="number"
								id="product-weight"
								name="product-weight"
								placeholder="Введите вес"
							/>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-box">
							<label class="title" for="product-price">Стоимость груза:</label>
							<input
								type="number"
								id="product-price"
								name="product-price"
								placeholder="Введите стоимость"
							/>
						</div>
						<div class="input-box">
							<label class="title" for="product-volume"
								>Объем груза (м3):</label
							>
							<input
								type="number"
								id="product-volume"
								name="product-volume"
								placeholder="Введите объем"
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="input-box check">
							<input type="checkbox" id="number" class="form-check-input" />
							<label for="number" class="check">Страховка</label>
						</div>

						<div class="input-box check">
							<input type="checkbox" id="number-1" class="form-check-input" />
							<label for="number-1" class="check">Таможенное оформление</label>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input-box">
							<label for="product-tnCode">Код ТН ВЭД:</label>
							<input
								type="text"
								id="product-tnCode"
								name="product-tnCode"
								placeholder="Введите код"
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="input-box">
							<div id="file-name"></div>
							<label class="label-img" for="fileInput"
								>Звгрузить фото товара</label
							>
							<input type="file" id="fileInput" name="file" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="input-box">
							<button type="button" class="btn btn-primary btn-lg">
								Следующий шаг<img
									src="assets/img/icon-btn-arrow.svg"
									class="icon"
									alt="icon"
								/>
							</button>
						</div>
					</div>
				</div>
			</form>
			<div class="calc-decoration">
				<img
					src="assets/img/calc-decoration.png"
					class="img-fluid"
					alt="calculation-decoration"
				/>
			</div>
		</div>
	</div>
</section>
