<footer>
	<div class="container wrapper-footer">
		<div class="decoration-line row">
			<div class="information-column col-lg-3">
				<img src="assets/img/logo.svg" class="footer-logo" alt="logo" />
				<h5>8(800)600-18-69</h5>
				<a href="#">info@cargoasia.info</a>
				<h4>Адрес в Китае:</h4>
				<p>浙江省金华市义乌市后宅街道洪华小区5</p>
				<p>栋一单元一楼RT789库房 高建军 电话</p>
				<p>15966660379</p>
				<div class="social">
					<a href="#">
						<img
							src="/assets/img/instagram.svg"
							class="social"
							alt="icon-social"
						/>
					</a>
					<a href="#">
						<img
							src="/assets/img/vkontakte.png"
							class="social"
							alt="icon-social"
						/>
					</a>
					<a href="#">
						<img
							src="/assets/img/telegram.png"
							class="social"
							alt="icon-social"
						/>
					</a>
				</div>
			</div>
			<div class="column-link-wrapper row">
				<div class="column-links-box col-lg-3 row">
					<h3>Грузоперевозки</h3>
					<a href="#">Цены и сроки</a>
					<a href="#">Услуги</a>
					<a href="#">О компании</a>
					<a href="#">Контакты</a>
					<a href="#">Оформить груз</a>
				</div>

				<div class="column-links-box col-lg-3 row">
					<h3>Услуги</h3>
					<a href="#">Выкуп товара</a>
					<a href="#">Страховка груза</a>
					<a href="#">Аренда склада</a>
					<a href="#">Перевод денежных средств</a>
				</div>

				<div class="column-links-box col-lg-3 row">
					<h3>Информация</h3>
					<a href="#">Отзывы</a>
					<a href="#">Требования к грузу</a>
					<a href="#">Договор-оферта</a>
					<a href="#">Как заключить договор</a>
					<a href="#">Способы оплаты услуг</a>
					<a href="#">Документы</a>
					<a href="#">Статьи</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="./assets/js/jquery-3.7.1.min.js"></script>
<script src="./assets/js/bootstrap.bundle.min.js"></script>
<script src="./assets/js/jquery.fancybox.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/custom.js"></script>
