<section class="question">
	<div class="container">
		<div class="template-title">
			<h2>Часто задаваемые вопросы</h2>
		</div>
		<div class="question-position">
			<div class="accordion-questions">
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button
								class="accordion-button collapsed"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapseOne"
								aria-expanded="false"
								aria-controls="flush-collapseOne"
							>
								Как рассчитывается стоимость доставки?
							</button>
						</h2>
						<div
							id="flush-collapseOne"
							class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample"
						>
							<div class="accordion-body">
								<p>
									Да, мы предоставляем такую услугу, мы можем взять оплату
									товара в Китае на себя. Если у вас нет валютного счёта, то
									можете оплатить товар в гривнах на наш счет.
								</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTwo">
							<button
								class="accordion-button collapsed"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapseTwo"
								aria-expanded="false"
								aria-controls="flush-collapseTwo"
							>
								Как происходит оплата за доставку груза?
							</button>
						</h2>
						<div
							id="flush-collapseTwo"
							class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample"
						>
							<div class="accordion-body">
								<p>
									Да, мы предоставляем такую услугу, мы можем взять оплату
									товара в Китае на себя. Если у вас нет валютного счёта, то
									можете оплатить товар в гривнах на наш счет.
								</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingThree">
							<button
								class="accordion-button collapsed"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapseThree"
								aria-expanded="false"
								aria-controls="flush-collapseThree"
							>
								Как происходит оплата за доставку груза?
							</button>
						</h2>
						<div
							id="flush-collapseThree"
							class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample"
						>
							<div class="accordion-body">
								<p>
									Да, мы предоставляем такую услугу, мы можем взять оплату
									товара в Китае на себя. Если у вас нет валютного счёта, то
									можете оплатить товар в гривнах на наш счет.
								</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTFour">
							<button
								class="accordion-button collapsed"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapseFour"
								aria-expanded="false"
								aria-controls="flush-collapseFour"
							>
								Можно ли через вас оплатить товар поставщику?
							</button>
						</h2>
						<div
							id="flush-collapseFour"
							class="accordion-collapse collapse"
							aria-labelledby="flush-headingFour"
							data-bs-parent="#accordionFlushExample"
						>
							<div class="accordion-body">
								<p>
									Да, мы предоставляем такую услугу, мы можем взять оплату
									товара в Китае на себя. Если у вас нет валютного счёта, то
									можете оплатить товар в гривнах на наш счет.
								</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTFive">
							<button
								class="accordion-button collapsed"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapseFive"
								aria-expanded="false"
								aria-controls="flush-collapseFive"
							>
								В чём особенность КАРГО доставки из Китая
							</button>
						</h2>
						<div
							id="flush-collapseFive"
							class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample"
						>
							<div class="accordion-body">
								<p>
									Да, мы предоставляем такую услугу, мы можем взять оплату
									товара в Китае на себя. Если у вас нет валютного счёта, то
									можете оплатить товар в гривнах на наш счет.
								</p>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingSix">
							<button
								class="accordion-button collapsed"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#flush-collapseSix"
								aria-expanded="false"
								aria-controls="flush-collapseSix"
							>
								Какой срок доставки из Китая?
							</button>
						</h2>
						<div
							id="flush-collapseSix"
							class="accordion-collapse collapse"
							aria-labelledby="flush-headingSix"
							data-bs-parent="#accordionFlushExample"
						>
							<div class="accordion-body">
								<p>
									Да, мы предоставляем такую услугу, мы можем взять оплату
									товара в Китае на себя. Если у вас нет валютного счёта, то
									можете оплатить товар в гривнах на наш счет.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="questions-col-form">
				<form class="questions-form">
					<h3 class="questions-form-title">Остались вопросы?</h3>
					<p class="questions-form-description">
						Оставьте заявку и наш менеджер ответит вам в ближайшее время
					</p>
					<div class="input-column">
						<div class="input-box">
							<input type="text" placeholder="Имя *" name="name" />
						</div>
						<div class="input-box">
							<input type="tel" placeholder="Телефон *" name="tel" />
						</div>
						<div class="input-box">
							<input type="email" placeholder="E-mail" name="email" />
						</div>
						<div class="input-box">
							<textarea
								name="yourQuestion"
								id="yourQuestion"
								placeholder="Ваш вопрос"
							></textarea>
						</div>
					</div>
					<a href="#" class="questions-btn btn btn-primary"
						>Отправить запрос
						<img src="assets/img/icon-btn-arrow.svg" class="icon" alt="arrow"
					/></a>
				</form>
			</div>
		</div>
	</div>
</section>
